<template>
  <div  class="quiz col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v-for="(question, index) in quiz">
    <div v-show="index === questionIndex" class="question-holder col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>{{question.question}}</h2> 
      <div class ="answer-input" v-for="answer in question.answers">
      <label>
            <input type="radio" 
                   v-bind:value="answer.correct" 
                   v-bind:name="index" 
                   v-model="userResponses[index]"> 
                   {{answer.answer}}
          </label>
        </div>

        <div class = "btn-holder">
      <button class="btn btn-primary btn-lg" v-if="questionIndex > 0" v-on:click="prev"><</button>
      <button class="btn btn-primary btn-lg" v-on:click="next">></button>
      </div>
  </div>
</div>
  <div v-show="questionIndex === quizLength">
    <h2>
    Quiz finished
  </h2>
    <div class="total-score">
      Total score: {{ score() }} / {{ quizLength }}
    </div>
  </div>
</div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'quiz',
  data: function () {
    return {
      quiz: [],
      quizLength: 0,
      questionIndex: 0,
      userResponses: [],
    }
    
  },


   methods: {
    // Go to next question
    next: function() {
      this.questionIndex++;
    },
    prev: function() {
      this.questionIndex--;
    },
    score: function() {
      return this.userResponses.filter(function(val) { return val }).length;
    },

   },


  mounted: function() {
  var config = {
    headers: {
      // 'Accept': 'application/json',
      'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
    }
    };
    var self = this;
    axios.get('http://localhost:1236/api/quiz', config).then(function(response){
      self.quiz = response.data;
      self.quizLength = (response.data).length;
      self.userResponses = Array(self.quizLength).fill(false)

    });
  }

}
</script>


<style scoped>


.answer-input {
  margin-top: 2%;
  color:#c8c8c8;
  font-size: 2em;
}

label:hover, input:hover {
  color:#7AA3CC;
  cursor:pointer;
}

.btn-holder {
  margin-top: 2%;
}

.btn-holder button {
  font-weight: 600;
}

.total-score {
  margin-top: 4%;
  font-size: 1.6em;
}
</style>
