<div data-control="toolbar">
    <a
        href="<?= Backend::url('brickt/quiz/questions/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Question
    </a>


    <button
            class="btn btn-default oc-icon-trash-o"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')

        })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('Are you sure?')); ?>"
            data-trigger-type="enable"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        <?= e(trans('DELETE')); ?>
    </button>
</div>
